.bar-top {
    width: 100%;
    height: 7px;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    animation: scroll-X;
    animation-timeline: scroll();
    z-index: 999;
}

.bar-bottom {
    width: 100%;
    height: 7px;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: scroll-X;
    animation-timeline: scroll();
    z-index: 999;
}

.bar-left {
    width: 7px;
    height: 100;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: scroll-Y;
    animation-timeline: scroll();
    z-index: 999;
}

.bar-right {
    width: 7px;
    height: 100;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: scroll-Y;
    animation-timeline: scroll();
    z-index: 999;
}


@keyframes scroll-X {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1 );
    }
}

@keyframes scroll-Y {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1 );
    }
}

